[submodule "third/LabSound"]
	path = third/LabSound
	url = https://github.com/LabSound/LabSound.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third/sokol"]
	path = third/sokol
	url = https://github.com/floooh/sokol.git
[submodule "third/LabMidi"]
	path = third/LabMidi
	url = https://github.com/meshula/LabMidi.git
[submodule "third/tinyosc"]
	path = third/tinyosc
	url = https://github.com/ddiakopoulos/tinyosc.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third/CLI11"]
	path = third/CLI11
	url = https://github.com/CLIUtils/CLI11.git
